@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.big-container {
  width: 800px;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  font-family: "Roboto", sans-serif;
  border-right: 1px solid rgb(228, 228, 228);
  border-left: 1px solid rgb(228, 228, 228);
}

.header {
  width: calc(100% - 32px);
  height: 50px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
  color: rgb(102, 102, 102);
}

.small-container {
  margin-top: 160px;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
}

.button-list {
  width: 100%;
}

.button-menu {
  width: 100%;
  border: 1px lightgrey solid;
  background-color: white;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(78, 78, 78);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  text-decoration: none;
}

.button-menu:hover {
  cursor: pointer;
  color: rgb(65, 65, 65);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid rgba(58, 16, 16, 0.836) 4px;
  font-weight: 900;
  font-size: 30px;
  display: grid;
  place-items: center;

  color: rgba(48, 13, 13, 0.836);
  box-shadow: rgba(165, 21, 21, 0.4) 0px 5px, rgba(165, 21, 21, 0.2) 0px 10px;
}

.circle:hover {
  cursor: pointer;
}

.second-header {
  font-size: 30px;
  color: rgb(78, 78, 78);
  padding: 20px 0px;
}

.creative-text-container {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 16px;
}

.creative-text-header {
  margin-block-end: -16px;
  color: rgb(26, 147, 228);
}

.creative-rooms-container {
  margin-top: -80px;
}

.creative-rooms-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.creative-rooms-link-input {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin-left: -10px;
  border: 1px white solid;
  background-color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.creative-rooms-link-input input {
  border: 0px;
  padding: 0.5rem;
  width: 80%;
  outline: none;
}
.creative-rooms-link-input button {
  width: 5rem;
  height: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: rgb(120, 211, 253) 1px solid;
  background-color: rgb(120, 211, 253);
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}
.creative-rooms-link-input button:hover {
  cursor: no-drop;
}

.creative-rooms-second-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  margin-bottom: 30px;
}

.creative-second-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creative-second-part button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px white solid;
  background-color: white;
  color: grey;
}

.creative-search-room {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  margin-left: -10px;
  border: 1px white solid;
  background-color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.creative-search-room input {
  border: 0px;
  padding: 0.5rem;
  width: 80%;
  outline: none;
}

.creative-room-label-menu {
  width: 100%;
  height: 7rem;
  display:grid;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin-left: -10px;
  font-family: "Roboto", sans-serif;
  margin-top: 16px;
  border: 1px white solid;
  background-color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.creative-room-label-menu div {
  font-weight: bold;
  color: grey;
}

#label-child1 {
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}





